.location-information {
    .wrapper {
        display: flex;
        gap: 30px;
        align-items: stretch;
        justify-content: space-between;
    }

    .item {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width: 100%;
        padding: 40px 40px 80px;
        border-radius: 12px;
        background-color: $slate-50;

        .content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            width: 100%;
        }
    }

    .icon-container {
        width: 30px;
        height: 30px;

        i {
            @include font-size(30px);

            display: block;
            width: 100%;
            height: 100%;
            color: $slate-900;
        }
    }

    .forecast {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width: 100%;
        padding: 20px 0 0;
        border-width: 1px 0 0;
        border-style: solid;
        border-color: $slate-200;

        .box {
            display: flex;
            gap: 20px;
            align-items: stretch;
            justify-content: space-between;
        }

        .icon-container {
            width: 70px;
            height: 70px;

            i {
                @include font-size(70px);
            }
        }

        .weather {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            strong {
                @include font-size(40px);

                font-weight: 700;
            }

            span {
                @include font-size(20px);

                font-weight: 600;
            }
        }
    }

    h2 {
        @include font-size(30px);

        color: $slate-900;
        font-weight: 600;
        line-height: 1.2;
        text-align: center;
    }

    p {
        @include font-size(24px);

        color: $slate-700;
        line-height: 1.4;
        text-align: center;
    }

    a {
        color: $blue-600;
        text-decoration: underline;
        transition: all 200ms linear;

        &:hover {
            color: $blue-700;
        }
    }

    .report {
        position: absolute;
        right: 40px;
        bottom: 40px;
        width: 20px;
        height: 20px;

        .button {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 0;
            border-radius: 50%;
            transition: all 200ms linear;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: transparent;
                opacity: 0;
                transition: all 200ms linear;
                transform: translate(-50%, -50%);
            }

            &:hover {
                &::after {
                    width: 40px;
                    height: 40px;
                    background-color: $rose-100;
                    opacity: 1;
                }

                &.borderless {
                    i {
                        color: $rose-600;
                    }
                }
            }

            &.borderless {
                i {
                    @include font-size(18px);

                    position: relative;
                    z-index: 2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $slate-600;
                    transition: all 200ms linear;
                }
            }
        }
    }
}

@import 'responsive/location-information';
