.location-nearby {
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .locations-list {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: 30px;

        li {
            position: relative;
        }
    }
}

@import 'responsive/location-nearby';
