* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

*.png binary diff
*.jpg binary diff
*.jpeg binary diff
*.gif binary diff
*.svg text
*.webp binary diff

*.pdf binary

*.ttf binary
*.eot binary
*.otf binary
*.woff binary
*.woff2 binary

/.github export-ignore
CHANGELOG.md export-ignore
