.breadcrumbs {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px 0 0;
    border-width: 1px 0 0;
    border-style: solid;
    border-color: $slate-200;

    li {
        display: flex;
        align-items: center;

        &::before {
            @include font-size(20px);

            content: '/';
            padding: 0 20px 0 0;
            color: $slate-400;
            font-weight: 700;
        }

        &:first-child {
            &::before {
                display: none;
            }
        }

        &:last-child {
            a {
                color: $blue-700;

                &::after {
                    border-color: $blue-700;
                }
            }
        }
    }

    a {
        @include font-size(22px);

        position: relative;
        color: $slate-700;
        font-weight: 600;
        transition: all 300ms linear;

        &:hover {
            &::after {
                opacity: 1;
                transform: scale(1);
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -4px;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 2px;
            border-width: 0 0 2px;
            border-style: solid;
            border-color: $slate-700;
            opacity: 0;
            transition: opacity 0.35s, transform 0.35s;
            transform: scale(0, 1);
        }
    }
}

@import 'responsive/breadcrumbs';
