.card {
    &.default {
        flex: 0 0 auto;
        width: 407.5px;
        height: 407.5px;
    }

    &.alternative {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: stretch;
        width: 100%;
        height: auto;
        padding: 40px;
        border-radius: 12px;
        background-color: $slate-100;

        p {
            @include font-size(24px);

            color: $slate-700;
            line-height: 1.4;
        }
    }

    &.rectangle-flexible {
        overflow: hidden;
        width: 0;
        min-width: 100%;
        height: 0;
        min-height: 100%;
        border-radius: 12px;
        filter: grayscale(80%);
        cursor: pointer;
        transition: all 300ms linear;

        &:hover {
            width: calc(100vw * 0.2 / 1);
            filter: grayscale(0);

            h3 {
                bottom: 30px;
                opacity: 1;
                visibility: visible;

                &::before {
                    bottom: -30px;
                }
            }
        }

        a,
        picture,
        img {
            display: block;
        }

        a {
            position: relative;
            width: 100%;
            height: 100%;
        }

        picture {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            object-fit: cover;
            width: auto;
            height: 100%;
            transform: translate(-50%, -50%);
        }

        h3 {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            color: $white;
            text-align: center;
            white-space: normal;
            opacity: 0;
            visibility: hidden;
            transition: all 300ms linear;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 300px;
                background-image: linear-gradient(0deg, rgba($black, 1) 0%, rgba($white, 0) 100%);
                pointer-events: none;
                transition: all 300ms linear;
            }

            span,
            i {
                position: relative;
                z-index: 2;
            }

            span {
                padding: 0 30px;
                line-height: 1.2;
            }
        }
    }

    &.rectangle-static {
        &:hover {
            .picture-container {
                img {
                    transition: all 500ms ease-in-out 0s;
                    transform: translate(-50%, -50%) scale(1.1);
                }
            }

            .details-container {
                h3 {
                    color: $blue-600;
                }
            }
        }

        a,
        picture,
        img {
            display: block;
        }

        a {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .picture-container {
            position: relative;
            overflow: hidden;
            width: 100%;
            padding-top: 120%;
            border-radius: 16px;
            background-color: $slate-100;
            box-shadow: rgba($black, 0.2) 0 1px 2px 0;

            picture {
                width: 100%;
                height: 100%;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                object-fit: cover;
                width: 100%;
                min-height: 100%;
                user-select: none;
                transition: all 300ms ease-in-out 0s;
                transform: translate(-50%, -50%) scale(1);
            }
        }

        .badges {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 30px 20px 20px;
            background: linear-gradient(180deg, rgba($white, 0) 0%, rgba($black, 1) 100%);

            .stars,
            .distance {
                @include font-size(18px);

                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
                color: $white;
                font-weight: 600;

                i {
                    display: block;
                    width: 18px;
                    height: 18px;
                }
            }
        }

        .details-container {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h3,
            p {
                text-align: center;
            }

            h3 {
                @include font-size(22px);

                color: $slate-800;
                line-height: 1.2;
                white-space: normal;
                transition: all 200ms linear;
            }

            p {
                @include font-size(18px);

                display: flex;
                gap: 5px;
                align-items: center;
                justify-content: center;
                color: $slate-600;
                font-weight: 400;

                i {
                    @include font-size(16px);

                    display: flex;
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    .box-link {
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background-color: $slate-200;
        user-select: none;

        &:hover {
            img {
                transition: all 0.5s ease-in-out 0s;
                transform: scale(1.1);
            }

            .corner {
                &::after {
                    right: -120px;
                    bottom: -120px;
                    width: 240px;
                    height: 240px;
                }

                i {
                    right: 10px;
                }
            }
        }

        figure {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            figcaption {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                padding: 30px;
                pointer-events: none;
                user-select: none;

                h3 {
                    @include font-size(30px);

                    position: relative;
                    z-index: 2;
                    display: block;
                    color: $blue-50;
                    font-weight: 700;
                    text-align: center;
                    text-shadow: 1px 1px 1px rgba($black, 1);
                    white-space: pre-wrap;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100px;
                    background-image: linear-gradient(0deg, rgba($white, 0) 0%, rgba($black, 1) 100%);
                    pointer-events: none;
                }
            }
        }

        figure,
        picture,
        img {
            display: block;
            width: 100%;
            height: 100%;
            pointer-events: none;
        }

        img {
            transition: all 0.3s ease-in-out 0s;
            transform: scale(1);
        }

        .corner {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            pointer-events: none;

            &::after {
                content: '';
                position: absolute;
                right: -90px;
                bottom: -90px;
                z-index: 1;
                width: 180px;
                height: 180px;
                background-image: linear-gradient(0deg, rgba($black, 1) 0%, rgba($white, 0) 100%);
                transition: all 200ms linear;
                transform: rotate(-45deg);
            }

            i {
                @include font-size(26px);

                position: relative;
                right: 0;
                z-index: 2;
                color: $blue-50;
                transition: all 200ms linear;
            }
        }
    }

    h3 {
        @include font-size(30px);

        width: 100%;
        color: $slate-900;
        font-weight: 700;
        white-space: nowrap;

        a {
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .icon-container {
        width: auto;
        height: 60px;

        img {
            display: block;
            width: auto;
            height: 60px;
        }

        svg {
            path {
                fill: $slate-50;
            }
        }
    }

    .learn-more {
        display: inline-flex;
        gap: 10px;
        align-items: center;

        &:hover {
            span,
            i {
                color: $blue-600;
            }

            i {
                left: 5px;
            }
        }

        span,
        i {
            @include font-size(24px);

            color: $blue-500;
            transition: all 200ms linear;
        }

        span {
            font-weight: 600;
        }

        i {
            position: relative;
            left: 0;
            display: block;
            width: 24px;
            height: 24px;
        }
    }
}

@import 'responsive/card';
