.top-section {
    padding: 60px 0;
    background-color: $slate-50;

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .subtitle {
        @include font-size(22px);

        color: $blue-700;
        font-weight: 600;
    }

    .subtitle,
    h1,
    p {
        width: 100%;
        max-width: 1280px;
    }

    h1 {
        @include font-size(46px);

        color: $slate-900;
        font-weight: 700;
    }

    p {
        @include font-size(24px);

        color: $slate-600;
        line-height: 1.4;
    }
}

@import 'responsive/top-section';
