.top-section {
    padding: 60px 0;
    background-color: $slate-50;

    &.location-view {
        .wrapper {
            flex-direction: row;
            gap: 50px;
            align-items: flex-start;
            width: 100%;
        }

        .information,
        .photo {
            width: 100%;
        }

        .information {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .navigation {
                display: flex;
                gap: 20px;
                align-items: center;
                justify-content: space-between;
            }

            .breadcrumbs {
                padding: 0;
                border: 0;

                li {
                    a {
                        color: $blue-700;
                    }
                }
            }

            .controls {
                display: flex;
                gap: 50px;
                align-items: center;
                justify-content: flex-end;
            }

            h1,
            p {
                max-width: 100%;
            }

            h1 {
                @include font-size(64px);
            }

            p {
                padding: 0;
            }

            .details {
                display: flex;
                gap: 30px;
                align-items: center;
                padding: 20px 0 0;
                border-width: 1px 0 0;
                border-style: solid;
                border-color: $slate-200;
            }

            .locality,
            .altitude {
                display: flex;
                gap: 10px;
                align-items: center;

                i {
                    @include font-size(20px);

                    display: block;
                    width: 20px;
                    height: 20px;
                }

                span {
                    @include font-size(24px);
                }
            }
        }

        .photo-holder {
            position: relative;
            overflow: hidden;
            padding: 56.25% 0 0;
            border-radius: 12px;

            figure {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                background-color: $slate-100;
                cursor: pointer;

                figcaption {
                    position: absolute;
                    right: 30px;
                    bottom: 30px;
                    z-index: 2;
                    color: rgba($white, 0.8);
                    font-weight: 600;
                    pointer-events: none;
                    user-select: none;
                }
            }

            figure,
            picture,
            img {
                display: block;
                width: 100%;
                height: 100%;
            }

            img {
                pointer-events: none;
            }

            .bookmark-button {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                width: 70px;
                height: 70px;

                &::after {
                    content: '';
                    position: absolute;
                    top: -80px;
                    right: -80px;
                    z-index: 1;
                    width: 180px;
                    height: 180px;
                    background-image: linear-gradient(0deg, rgba($white, 0) 0%, rgba($black, 1) 100%);
                    pointer-events: none;
                    transform: rotate(45deg);
                }

                .button {
                    &.borderless {
                        position: relative;
                        z-index: 2;
                        width: 100%;
                        height: 100%;

                        i {
                            color: $blue-50;
                        }
                    }
                }
            }

            .button {
                &.primary {
                    position: absolute;
                    bottom: 30px;
                    left: 30px;
                    z-index: 2;
                }
            }
        }
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .subtitle {
        @include font-size(22px);

        color: $blue-700;
        font-weight: 600;
    }

    .subtitle,
    h1,
    p {
        width: 100%;
        max-width: 1280px;
    }

    h1 {
        @include font-size(46px);

        color: $slate-900;
        font-weight: 700;
    }

    p {
        @include font-size(24px);

        color: $slate-600;
        line-height: 1.4;
    }
}

@import 'responsive/top-section';
